
// Global Styles
html,body {
    overflow-x: hidden; 
}

body {
  font-family: $secondary-font;
  font-size: $font-size;
  line-height: 1.8;
}
 
.container-fluid {
  margin: 0 -15px;
  .jumbotron {
    border-radius: 0;
  }
}

// index.html Jumbotron
.jumbotron {
  background: url("https://images.unsplash.com/photo-1414497729697-b8555ba6c1cc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=64c19da4ff18d00fd138c96749fb81c5"),
  $red-orange;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-bottom: $margin * 45;
  padding: $padding * 25 $padding * 7.5 0;
}

.featured-item {
  background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
  url("https://images.unsplash.com/photo-1415383552502-d44cf10dfc7e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=43377c559d50c48cf24af6244c2caabe");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $margin * 40;
  .feature-item-title {
    padding: $padding * 35 0 $padding * 100 15px;
  }
    h2 {
      color: $white;
      margin: 0;
    }
    span {
      color: $white;
      font-size: $minor-heading;
      font-weight: 700;
  } 
  p {
    background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,0.85));
    color: $white;
    font-weight: 300;
    padding: $padding * 7.5 0 $padding * 7.5 $padding * 7.5;
  }
}


//  Story 
.story {
  border: none;
  margin-bottom: $margin * 40;
  padding: 0 $padding * 7.5;
  h2 {
    padding-top: $padding * 2;
  }
}
