
// Global Styles
html,body {
    overflow-x: hidden; 
}

body {
  font-family: $secondary-font;
  font-size: $font-size;
  line-height: 1.6;
}
 
.container-fluid {
  margin: 0 -15px;
  .jumbotron {
    border-radius: 0;
  }
}

// index.html 
.jumbotron {
  background: $red-orange;
}

