
// Navigation styles
.navbar {
  background: $white;
  border-bottom: 1px solid $turquoise;
  margin-bottom: 4px;
}

.navbar-toggle {
  border: none;
}

.navbar-default { 
  .navbar-nav {
    > li {
      padding: $padding * 3.75 0 $padding * 3.75 $padding * 7.5;
      > a {
        color: $turquoise;
        display: inline-block;
        font-weight: 400;
        padding: 0;
        &:hover {
          color: $red-orange;
          font-size: $small-heading;
        }
      }
    }
  }
}

.navbar-default {
    border: none;
}

 // Active link 
 .navbar-default { 
   .navbar-nav {
     .active {
       a {
          background: none;
          color: $red-orange;  
          &:hover {
            background: none;
            color: $red-orange;
          }
      }
    }
  }
 }
 
 #navbar {
   border: none;
 }
 
 .navbar-collapse {
   border: 1px solid $turquoise;
   ul {
     margin: 0 $margin * 7.5 0 $margin * -7.5;
   }
 }
 
 // Menu Bar in mobile view 
.navbar-default {
  .navbar-toggle {
    margin-right: $margin * 3.75;
    &:hover {
      background: none;
    }
    &:active {
      background: none;
    }
    &:focus {
      background: none;
    }
     .icon-bar {
    background: $turquoise;
    }
  }
 }