
// Import files for font use
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Raleway:400,100,200,300,500,700);

.navbar-default {
  .navbar-brand { 
    @include upcase;
    color: $turquoise;
    font-size: $minor-heading;
    font-weight: 300;
    letter-spacing: 2px;
  &:hover {
    color: $red-orange;
    }
  }
}

// Headings

h1 {
  @include upcase;
}

.jumbotron {
  h1 {
    color: $white;
    font-size: $heading;
  }
}