
// Import files for font use
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Raleway:400,100,200,300,500,700);



// 
p {
  font-family: $secondary-font;
  margin-bottom: 0;
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}


.navbar-default {
  .navbar-brand { 
    @include upcase;
    color: $turquoise;
    font-size: $small-heading;
    font-weight: 300;
    letter-spacing: 2px;
  &:hover {
    color: $red-orange;
    }
  }
}

// Headings
h1,
h2,
h3 {
  @include upcase;
  margin: 0;
}

.jumbotron {
  h1 {
    color: $white;
    font-size: $main-heading;
    letter-spacing: 2px;
  }
}

h2 {
  color: $turquoise;
  font-size: $secondary-heading;
  font-weight: 200;
  margin-bottom: $margin * 5;
}

h3 {
  font-size: $small-heading;
  margin-bottom: $margin * 6;
}

// Feature Item typography
.featured-item {
  .feature-item-title {
    h2 {
      color: $white;
      margin: 0;
    }
    span {
      color: $white;
      display: block;
      font-size: $minor-heading;
      font-weight: 700;
      margin-bottom: $margin * 4;
  } 
}
  .btn {
    display: inline-block;
  }
  p {
    background: $red-orange-overlay;
    color: $white;
    font-family: $primary-font;
    font-weight: 300;
    @media only screen and (min-width: $medium-mq) {
      font-size: $small-heading;
      }
    }
}

// Story typography
.story {
  h2 {
    margin: 0 0 $margin * 2 0;
  }
  p {
    color: $navy-blue;
    padding-bottom: $padding * 10;
  }
}

// footer for index.html
  .main-footer {
    li {
      margin-left: $margin * 4;
    }
    a {
      &:hover {
        color: $turquoise;
      }
    }
    address {
      line-height: 1.85;
      margin-left: $margin * 4;
    }
  }