
// Colors 
$turquoise: #4E7078; // turquoise
$red-orange: #853500; // Red-Orange
$navy-blue: #161F21; // Navy Blue
$dark-red-orange: #4F2A11; // Dark Red-Orange
$light-grey: #F9EDE1; // Light Grey
$white: #fff; // White

// Overlays
$red-orange-overlay: linear-gradient(
  rgba(133, 53, 0,0.75), 
  rgba(133, 53, 0,0.75));

// Initial fonts
$primary-font: "Raleway";
$secondary-font: "Oswald";

// Font Styles 
$font-size: 16px; //1em
// Using perfect fourth type scale 
$main-heading: 3.157em;
$secondary-heading: 2.369em;
$minor-heading: 1.777em;
$small-heading: 1.333em;

// Inital margin and padding sizes
$margin: 0.125em;
$padding: 0.125em;