
// Colors 
$turquoise: #4E7078; // turquoise
$red-orange: #853500; // Red-Orange
$navy-blue: #161F21; // Navy Blue
$dark-red-orange: #4F2A11; // Dark Red-Orange
$light-grey: #F9EDE1; // Light Grey
$white: #fff; // White

// Font Styles 
$font-size: 16px; //1em

// Inital margin and padding sizes
$margin: 0.125em;
$padding: 0.125em;